{% extends 'grumblr/main_template.html' %}
{% load static from staticfiles %}

{% block title %}{{request.user.username}}'s following list{% endblock %}

{% block navbar_active3 %}<li class="active showmessages">{% endblock %}

{% block top-left %}
<!-- i need timestamp in every page where i refresh the messages (to prevent
syncing all the messages at once), so throw this input here,
to have it like index.html and profile.html -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4" align="center">
				<div class="error mainerror">
					{% for error in errors %}
						{{ error }}<br>
					{% endfor %}
				</div>
				{% if not messages %}
				<h1>You aren't following anyone!</h1><br>
				<img src="{% static '/grumblr/images/sad-obama.png' %}">
				{% endif %}
{% endblock %}
