{% extends 'grumblr/login_register_template.html' %}
{% load static from staticfiles %}

{% block title %}Welcome to Grumblr! Please login{% endblock title %} <!-- For extra readability, I can optionally give a name to endblock -->
<!-- navbar goes here from the template -->
{% block form-specific-content %} <!-- all the content in the login page other than the navbar -->
	<div class="container">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-3">
				<div class="error">
					{% if form.errors %}
						Login details are incorrect.
					{% endif %}
				</div>
				<h3>Welcome to <span style="color:green">Grumblr</span>, the first ever nano-blogging service!</h3>
				<h3>Please log in:</h3><br>
				<form method="post" action="{% url 'login' %}">
				<table>
				<tr>
					<td>{{ form.username.label_tag }}</td>
					<td>{{ form.username }}</td>
				</tr>
				<tr>
					<td>{{ form.password.label_tag }}</td>
					<td>{{ form.password }}</td>
				</tr>
				</table>
				<h6 align="right"><a href="{% url 'reset-password' %}">Forgot password?</a></h6>
				<input class="btn btn-lg btn-primary btn-block btn-submit  btn-success" type="submit" value="login"/>
					<a class="btn btn-primary col-lg-12" href="{% url 'register' %}">Not registered yet?</a><br>
					<input type="hidden" name="next" value="{% url 'home' %}">
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
<!-- including jquery and bootstrap scripts and closing tags from the template -->
